*{
	margin:0;
	padding:0;
}

body{
	/* Setting default text color, background and a font stack */
	font-size:0.825em;
	color:#444444;
	background:url("img/bg.png") repeat-x #fff;
	font-family:Arial, Helvetica, sans-serif;
}


#mosaic-huadongshow{
	/* The slideshow container div */
	height:500px;
	margin:0 auto;
	position:relative;
	width:670px;
}

.mosaic-huadong{
	/* This class is shared between all the slides */
	left:80px;
	position:absolute;
	top:25px;
	
	border:10px solid #555;
	
	/* CSS3 rounded corners */
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
}

.tile2{
	/* The individual tiles */
	height:60px;
	width:60px;
	float:left;
	border:1px solid #555;
	border-width:0 1px 1px 0;
	background-color:#555;
}

.jiantou{
	/* The prev/next arrows */
	width:35px;
	height:70px;
	background:url("img/arrows.png") no-repeat;
	position:absolute;
	cursor:pointer;
	top:50%;
	margin-top:-35px;
}

.jiantou.zuo{
	left:15px;
	background-position:center top;
}

.jiantou.zuo:hover{
	background-position:center -70px;
}

.jiantou.you{
	right:15px;
	background-position:center -140px;
}

.jiantou.you:hover{
	background-position:center -210px;
}

.clear2{
	/* This class clears the floats */
	clear:both;
}


/* The styles below are only necessary for the styling of the demo page: */

#important{
	position:relative;
	margin:0 auto;
	width:960px;
}